
<h3 class="md-display-3">Welcome!</h3>
<h3 class="md-headline">Please pick one of the following!</h3>

<div layout="row" flex class="md-padding center">

    <div flex="30" offset="5">
        <a href="#/person">Person</a>
    </div>

    <div flex="30">
        <a href="#/occasion">Occasion</a>
    </div>

    <div flex="35">
        <a href="#/newperson">New Person</a>
    </div>

    <div flex="35">
        <a href="#/newoccasion">New Occasion</a>
    </div>

    <div flex="35">
        <a href="#/newgift">New Gift</a>
    </div>

</div>