
<h3 class="md-display-3 centerTextBlack">Welcome!</h3>
<h3 class="md-headline centerTextBlack">Please pick one of the following!</h3>

<div layout="row" flex class="md-padding">

    <div flex="50">
        <a href="#/person">Person</a>
    </div>

    <div flex="50">
        <a href="#/occasion">Occasion</a>
    </div>

    <div flex="50">
        <a href="#/newperson">New Person</a>
    </div>

    <div flex="50">
        <a href="#/newoccasion">New Occasion</a>
    </div>

    <div flex="50">
        <a href="#/newgift">New Gift</a>
    </div>

</div>